<app-header></app-header>
<app-side></app-side>
<div class="appSideInfo">
    <div class="infoContent">
        <div id="Fade4" class="w3-container city w3-animate-opacity">
            <div style="margin-top:1rem ;margin-right: 2rem;">
                <span style="font-size: 25px;font-family:Arial, Helvetica, sans-serif ;">الصفحة الرئيسيه<i
                        class="fas fa-angle-left mr-2" style="color: rgb(180, 178, 178);"></i></span>
                <span style="font-size: 25px;color:mediumturquoise;font-family:Arial, Helvetica, sans-serif ;"> نظام
                    التسجيل</span>
            </div>
            <hr style="width:95%;margin-top: 2rem;">
            <div>
                <div class="row mr-1">
                <div style="float: right;">

                    <form class="example" style="max-width:300px;">
                        <input type="text" placeholder="اختر" name="search2">
                        <button><i class="fas fa-pen"></i></button>
                    </form>
                </div>
                <div style="float: right;margin-right: 1rem;">
                    <form class="example" style="max-width:300px;">
                        <!-- (keydown)="filterBank($event)" -->
                        <input type="text" placeholder="البحث" name="search2" >
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
                <!-- <span>
                    <button type="button" class="btn btn-info " (click)="editItem1()"
                        style="color: white;background-color: rgb(70, 184, 219);margin-top: -5rem;margin-right: 48rem;width: 15%;height: 50px;font-size: 18px;">اجراء
                        مقابلة 
                        شخصيه</button>
                    <button type="button" class="btn btn-info "   (click)="editItem()"
                        style="color: white;background-color: rgb(70, 184, 219);margin-top: -8rem;margin-right: 60rem;width: 15%;height: 50px;font-size: 18px;">اجراء
                        اختبار</button>

                    <button type="button" class="btn" [routerLink]="['/school/record/addApplication']" routerLinkActive="router-link-active" 
                        style="color: white;background-color: rgb(70, 184, 219);margin-top: -3rem;margin-right: 48rem;width: 15%;height: 50px;font-size: 18px;">اضافة طلب
                        تسجيل</button>
                    <button type="button" class="btn  " (click)="exportexcel()"
                        style="margin-top: -6rem;margin-right: 60rem;width: 15%;
                        height: 50px;font-size: 18px;background-color: rgb(164, 221, 153);color: white;">تصدير
                        الى الاكسيل</button>
                </span> -->
                <div class="row mt-4 " style="margin-right: 10rem;" >
                    <button type="button" class="btn btn-info " (click)="open(content)" 
                        style="color: white;background-color: rgb(70, 184, 219);width: 15%;height: 50px;font-size: 18px;">اجراء
                        مقابلة
                        شخصيه</button>
                    <button type="button" class="btn btn-info " (click)="open(content1)"
                        style="color: white;background-color: rgb(70, 184, 219);height: 50px;
                        font-size: 18px;margin-right: 1rem;width: 15%;">اجراء
                        اختبار</button>
                
                    <button type="button" class="btn" [routerLink]="['/school/record/addApplication']"
                        routerLinkActive="router-link-active"
                        style="margin-right: 1rem;color: white;background-color: rgb(70, 184, 219);width: 15%;height: 50px;font-size: 18px;">اضافة طلب
                        تسجيل</button>
                    <button type="button" class="btn" 
                        routerLinkActive="router-link-active" (click)="open(content2)"
                        style="margin-right: 1rem;color: white;background-color: rgb(70, 184, 219);width: 15%;height: 50px;font-size: 18px;"> 
                    تحديد الفصل الدراسي
                    </button>
                    <button type="button" class="btn  " (click)="exportexcel()" style="width: 15%;
                                    margin-right: 1rem;height: 50px;font-size: 18px;background-color: rgb(164, 221, 153);color: white;">تصدير
                        الى الاكسيل</button>
                </div>
                <table class="table text-center mt-3" style="width: 95%;" id="excel-table">

                    <!--Table head-->
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">أسم الطالب <i class="fas fa-sort mr-2" style="font-size: 18px;"></i></th>
                            <th scope="col">رقم هويه الطالب <i class="fas fa-sort mr-2" style="font-size: 18px;"></i>
                            </th>
                            <th scope="col">حالة الطلب <i class="fas fa-sort mr-2" style="font-size: 18px;"></i></th>
                            <th scope="col">تعديل <i class="fas fa-sort mr-2" style="font-size: 18px;"></i></th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr *ngFor="let item of appList;let i= index" [ngClass]="{'complete': item.status === 'مكتمل' ,
                                                          'editable': item.status === 'تحت المعالجة',
                                                          'meeting': item.status === 'المقابلة الشخصية',
                                                          'payment': item.status === 'السداد' ,
                                                          'accept' : item.status === 'اختبار القبول'}">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.student_name}}</td>
                            <td>{{item.student_national_id}}</td>
                            <td>{{item.status}}</td>
                            <td><button type="button" class="btn  ml-1" (click) ="editItem2(item)"
                                    style="color: white;background-color:rgb(70, 184, 219);" >
                                    <i class="fas fa-pen"></i></button> | <button [routerLink]="['/school/record/viewDetails']" 
                                    routerLinkActive="active" style="background-color: lightblue;"
                                    class="btn ml-2 text-white mr-2" ><i class="fas fa-file"></i></button> | <button class="btn btn-danger mr-2"
                                    (click)="DeleteApp(item)"><i class="far fa-trash-alt"></i></button></td>
                        </tr>

                    </tbody>
                    <!--Table body-->


                </table>
            </div>

        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="row" style="background-color: rgb(179, 216, 216);width:100%;margin-right: 0px;">
        <p style="margin-left: auto;margin-right: auto;margin-top: 25px;
        font-size: 20px;font-family: 'Almarai', sans-serif;">تحديد المقابله الشخصيه</p>
    </div>
    <div class="modal-body">
        <form [formGroup]="issueForm" (ngSubmit)="onSubmit()"  style="margin-top: 2rem;">
            <div style="float: right;margin-left: auto;margin-right: auto;">
                <label style="margin-left: 13.5rem;font-family: 'Almarai', sans-serif;">اختر رقم الطلب </label>
                <form class="form-inline example" style="margin-right: 5rem;">
                    <div class="form-group">
                        <button type="submit" style="width: 50px;display: inline-block;">
                            <i class="fas fa-user-graduate" style="font-size: 25px;"></i>
                        </button>
                    </div>
                    <div class="form-group" [formGroup]="issueForm">
    
                        <select class="form-control"
                            style="width: 250px;height:50px; " formControlName="application_id">
    
                            <option value="" disabled selected> اختر رقم الطلب </option>
                            <option *ngFor="let item of appList" [value]="item.id">
                                {{item.id}}
                            </option>
                         
                            <i class="fas fa-angle-down text-info"></i>
                        </select>
    
                    </div>
    
                </form>
    
            </div>
            <div class="row" style="float: right;margin-left: auto;margin-right: auto;margin-top: 1rem;">
                <label  style="margin-right: 5rem;font-family: 'Almarai', sans-serif;">   تاريخ المقابله </label>
                <form class="example form-group" [formGroup]="issueForm" 
                style="width: 312px;margin-right: 5rem;"> 
                <button type="submit"  style="width: 50px;float: right;">
                    <i class="fas fa-calendar-alt" style="font-size: 25px;"></i>
                </button>
                <span style="display: inline-block;margin-left: 0.8rem;">
                  <input type="date" style="height:50px;float: right;width: 250px;" formControlName="date" class="form-control"
                    placeholder="حدد تاريخ الاجتماع" name="search2" >
                </span>
                </form>
            </div>
          
              <div class="row" style="float: right;margin-left: auto;margin-right: auto;">
                <label  style="margin-right: 5rem;font-family: 'Almarai', sans-serif;">   وقت  المقابله </label>
                <form class="example form-group" [formGroup]="issueForm" 
                style="width: 312px;margin-right: 5rem;"> 
                <button type="submit"  style="width: 50px;float: right;">
                    <i class="fas fa-clock" style="font-size: 25px;"></i>
                </button>
                <span style="display: inline-block;margin-left: 0.8rem;">
                  <input type="time" style="height:50px;float: right;width: 250px;" formControlName="time" class="form-control"
                    placeholder="حدد ووقت الاجتماع" name="search2" >
                </span>
                </form>
              </div>
    
              <div class="row" style="float: right;margin-left: auto;margin-right: auto;">
                <label  style="margin-right: 5rem;font-family: 'Almarai', sans-serif;">   رابط  المقابله </label>
                <form class="example form-group" [formGroup]="issueForm" 
                style="width: 312px;margin-right: 5rem;"> 
                <button type="submit"  style="width: 50px;float: right;">
                    <i class="fas fa-link" style="font-size: 25px;"></i>
                </button>
                <span style="display: inline-block;margin-left: 0.8rem;">
                  <input type="link" style="height:50px;float: right;width: 250px;" formControlName="link" class="form-control"
                    placeholder="رابط المقابله" name="search2" >
                </span>
                </form>
                <div class="modal-footer mt-3" style="border: none;" >
                    <button  [disabled]="isLoading" class="btn  " 
                    style="background-color:  rgb(70, 184, 219);font-family: 'Almarai', sans-serif;
                    color: white;width:300px;height: 50px;font-size: 18px;
                    margin-right: 4.2rem;"  >ارسال تفاصيل المقابله</button>
                </div>
              </div>
     
        </form>
    </div>
    
  </ng-template>

  <ng-template #content1 let-modal>
   
        <div class="row" style="background-color: rgb(179, 216, 216);width:100%;margin-right: 0px;">
            <p style="margin-left: auto;margin-right: auto;margin-top: 25px;
            font-size: 20px;font-family: 'Almarai', sans-serif;">تحديد اختبار</p>
        </div>
    
    <div class="modal-body">
        <form [formGroup]="examForm" (ngSubmit)="onSubmit1()"  style="margin-top: 2rem;">
            <div style="float: right;margin-left: auto;margin-right: auto;">
                <label style="margin-left: 13.5rem;font-family: 'Almarai', sans-serif;">اختر رقم الطلب </label>
                <form class="form-inline example" style="margin-right: 5rem;">
                    <div class="form-group">
                        <button type="submit" style="width: 50px;display: inline-block;">
                            <i class="fas fa-user-graduate" style="font-size: 25px;"></i>
                        </button>
                    </div>
                    <div class="form-group" [formGroup]="examForm">
    
                        <select class="form-control"
                            style="width: 250px;height:50px; " formControlName="id">
    
                            <option value="" disabled selected> اختر رقم الطلب </option>
                            <option *ngFor="let item of appList" [value]="item.id">
                                {{item.id}}
                            </option>
                         
                            <i class="fas fa-angle-down text-info"></i>
                        </select>
    
                    </div>
    
                </form>
    
            </div>
            <div style="float: right;margin-left: auto;margin-right: auto;margin-top: 2rem;">
                <label style="margin-left: 14.2rem;font-family: 'Almarai', sans-serif;">اختر الامتحان </label>
                <form class="form-inline example" style="margin-right: 5rem;">
                    <div class="form-group">
                        <button type="submit" style="width: 50px;display: inline-block;">
                            <i class="fas fa-user-graduate" style="font-size: 25px;"></i>
                        </button>
                    </div>
                    <div class="form-group" [formGroup]="examForm">
    
                        <select class="form-control"
                            style="width: 250px;height:50px; " formControlName="exam_id">
    
                            <option value="" disabled selected> اخترالامتحان </option>
                            <option *ngFor="let item of examList" [value]="item.id">
                                {{item.name}}
                            </option>
                         
                            <i class="fas fa-angle-down text-info"></i>
                        </select>
    
                    </div>
    
                </form>
    
            </div>
            
              <div class="row" style="float: right;margin-left: auto;margin-right: auto;">
            
                <div class="modal-footer mt-3" style="border: none;" >
                    <button  [disabled]="isLoading" class="btn  " 
                    style="background-color:  rgb(70, 184, 219);font-family: 'Almarai', sans-serif;
                    color: white;width:300px;height: 50px;font-size: 18px;
                    margin-right: 4.2rem;"  >ارسال رابط الاختبار</button>
                </div>
              </div>
     
        </form>
    </div>
    
  </ng-template>

  <ng-template #content2 let-modal>
   
    <div class="row" style="background-color: rgb(179, 216, 216);width:100%;margin-right: 0px;">
        <p style="margin-left: auto;margin-right: auto;margin-top: 25px;
        font-size: 20px;font-family: 'Almarai', sans-serif;">تحديد اختبار</p>
    </div>

<div class="modal-body">
    <form [formGroup]="classtypeForm" (ngSubmit)="onSubmit2()"  style="margin-top: 2rem;">
        <div style="float: right;margin-left: auto;margin-right: auto;">
            <label style="margin-left: 13.5rem;font-family: 'Almarai', sans-serif;">اختر رقم الطلب </label>
            <form class="form-inline example" style="margin-right: 5rem;">
                <div class="form-group">
                    <button type="submit" style="width: 50px;display: inline-block;">
                        <i class="fas fa-user-graduate" style="font-size: 25px;"></i>
                    </button>
                </div>
                <div class="form-group" [formGroup]="classtypeForm">

                    <select class="form-control"
                        style="width: 250px;height:50px; " formControlName="id">

                        <option value="" disabled selected> اختر رقم الطلب </option>
                        <option *ngFor="let item of appList" [value]="item.id">
                            {{item.id}}
                        </option>
                     
                        <i class="fas fa-angle-down text-info"></i>
                    </select>

                </div>

            </form>

        </div>
        <div style="float: right;margin-left: auto;margin-right: auto;margin-top: 2rem;">
            <label style="margin-left: 14.2rem;font-family: 'Almarai', sans-serif;">اختر الفصل الدراسي </label>
            <form class="form-inline example" style="margin-right: 5rem;">
                <div class="form-group">
                    <button type="submit" style="width: 50px;display: inline-block;">
                        <i class="fas fa-user-graduate" style="font-size: 25px;"></i>
                    </button>
                </div>
                <div class="form-group" [formGroup]="classtypeForm">

                    <select class="form-control"
                        style="width: 250px;height:50px; " formControlName="class_type_id">

                        <option value="" disabled selected> اختر الفصل  </option>
                        <option *ngFor="let item of classtypeList" [value]="item.id">
                            {{item.name}}
                        </option>
                     
                        <i class="fas fa-angle-down text-info"></i>
                    </select>

                </div>

            </form>

        </div>
        
          <div class="row" style="float: right;margin-left: auto;margin-right: auto;">
        
            <div class="modal-footer mt-3" style="border: none;" >
                <button  [disabled]="isLoading" class="btn  " 
                style="background-color:  rgb(70, 184, 219);font-family: 'Almarai', sans-serif;
                color: white;width:300px;height: 50px;font-size: 18px;
                margin-right: 4.2rem;"  > تحديد الفصل الدراسي</button>
            </div>
          </div>
 
    </form>
</div>

</ng-template>