<nav class="navbar navbar-expand" style="width: 85%;float: left;">
 
<ul class="navbar-nav ml-auto">
    <li class="nav-item" style="margin-left: -10rem;">
        <img src="./assets/images/img_avatar2.png" alt="Avatar" class="avatar">
    </li>
    <li class="nav-item">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="margin-right: 3rem;margin-top: 1rem;" >
            <span style="margin-right: -6rem;">مرحبا بك</span>
            <span style="margin-right: -6rem;">{{ name }}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href class="dropdown-item">
                <i class="fa fa-sign-out" aria-hidden="true"></i> تسجيل الخروج
            </a>
        </div>
    </li>

    <li class="nav-item mt-4" style="margin-left: -11rem;">
        <i class="fa fa-globe" aria-hidden="true"></i>
    </li>
    <li class="nav-item mt-4" style="margin-left: -2rem;">
        <i class="fa fa-bell" aria-hidden="true"></i>
    </li>
</ul>
</nav>